ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    margin-left: 200px;
    width: 100px;
}